{% extends "base.html" %}

{% block content %}

<h1>Courses</h1>

<div class="grid-2">

<div class="card">
<h3>Crash Course</h3>
<a href="/course/cyber"><button>Start</button></a>
</div>

<div class="card">
<h3>HTML</h3>
<a href="/course/html"><button>Open</button></a>
</div>

<div class="card">
<h3>CSS</h3>
<a href="/course/css"><button>Open</button></a>
</div>

<div class="card">
<h3>JavaScript</h3>
<a href="/course/js"><button>Open</button></a>
</div>

<div class="card">
<h3>Python</h3>
<a href="/course/python"><button>Open</button></a>
</div>

</div>

{% endblock %}